main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(25, 21, 26);
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.lights {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
}

.toggle-lights-button {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #2f2d2d;
  border: none;
  border-radius: .25rem;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: .2s;
}

.toggle-lights-button:hover {
  color: #2f2d2d;
  background-color: white;
}