body {
  margin: 0;
}

.app {
  font-family: var(--font-family);
  box-sizing: border-box;
  display: grid;
  place-items: center;
  background-color: var(--darker-blue);
  padding: 5%;
  min-height: 100vh;
}

.loading, .error {
  color: var(--dark-yellow);
  font-size: 2rem;
}