.controlButton {
  font-size: 1.25rem;
  color: white;
  background-color: #202124;
  border: none;
  border-radius: .5rem;
  padding: .75rem 1.25rem;
  margin: 1rem;
  cursor: pointer;
  transition: .2s;
}

.controlButton:hover {
  background-color: #303134;
}

.controlButton:disabled {
  background-color: #C6C6C6;
  cursor: not-allowed;
}