:root {
  --font-family: 'Poppins', sans-serif;

  --dark-blue: #11224E;
  --blue: #223BC9;
  --light-blue: #DCF0FD;
  --grey: #ACABAB;
  --light-grey: #E9E9E9;
  --white: #FAFAFA;
  --red: #d46367;
}